<div class="jumbotron">
  <h1 class="display-4">Photo App</h1>
  <p class="lead">The perfect place to keep all your favourite memories!</p>
  <hr class="my-4">
  <p style="font-size: 18px">Free plan allows you to store up to 5 GB worth of photos.<br>
  Need more? Sign up for one of our Paid Plans to get more storage space!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Compare plans</a>
</div>