<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-info">
    	<div class="panel-heading text-center"><h3>Basic Plan</h3></div>
      <div class="panel-body">
      	<h4 class="text-center">Free</h4>
      </div>
      <ul class="list-group">
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Up to 5 GB storage space</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Up to 3 projects</li>
		  </ul>
		  <div class="panel-footer">
      	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg center-block" %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-info">
    	<div class="panel-heading text-center"><h3>Pro Plan</h3></div>
      <div class="panel-body">
      	<h4 class="text-center">€10/month or €100/year</h4>
      </div>
      <ul class="list-group">
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Up to 100 GB storage space</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Up to 50 projects</li>
		  </ul>
		  <div class="panel-footer">
      	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg center-block" %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-info">
    	<div class="panel-heading text-center"><h3>Unlimited Plan</h3></div>
      <div class="panel-body">
      	<h4 class="text-center">€50/month or €500/year</h4>
      </div>
      <ul class="list-group">
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Unlimited storage space</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Unlimited projects</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>24/7 priority support</li>
		  </ul>
		  <div class="panel-footer">
      	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg center-block" %>
      </div>
    </div>
  </div>
</div>