<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-info">
    	<div class="panel-heading"><h3>Free Plan</h3></div>
      <div class="panel-body">
      	<p>With supporting text below as a natural lead-in to additional content.</p>
      </div>
      <ul class="list-group">
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Up to 5 GB storage space</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Up to 3 projects</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Responsive design</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Access anywhere</li>
		  </ul>
		  <div class="panel-footer">
      	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg center-block" %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-info">
    	<div class="panel-heading"><h3>Pro Plan</h3></div>
      <div class="panel-body">
      	<p>With supporting text below as a natural lead-in to additional content.</p>
      </div>
      <ul class="list-group">
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Up to 100 GB storage space</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Up to 50 projects</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Responsive design</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Access anywhere</li>
		  </ul>
		  <div class="panel-footer">
      	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg center-block" %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-info">
    	<div class="panel-heading"><h3>Unlimited Plan</h3></div>
      <div class="panel-body">
      	<p>With supporting text below as a natural lead-in to additional content.</p>
      </div>
      <ul class="list-group">
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Unlimited storage space</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Unlimited projects</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Responsive design</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>Access anywhere</li>
		    <li class="list-group-item">
		    	<span class="glyphicon glyphicon-ok"></span>24/7 priority support</li>
		  </ul>
		  <div class="panel-footer">
      	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg center-block" %>
      </div>
    </div>
  </div>
</div>