.jumbotron {
	text-align: center;
	color: white;
	text-shadow: 1px 0px #3a3a3a, 0px 1px #3a3a3a, 0px -1px #3a3a3a, -1px 0px #3a3a3a;
	background-image: asset-url("photos.jpg");
	background-size: cover;
}
.jumbotron p {
	font-weight: normal;
}

.glyphicon-ok {
	padding-right: 5px;
	color: green;
}

.spacer-lg {
	margin-top: 120px;
}

.spacer-md {
	margin-top: 80px;
}

.spacer-sm {
	margin-top: 40px;
}